<div class="settings">
  <button mat-raised-button (click)="back()">Back</button>
  <div class="voice-settings">
    <h2>Voice settings</h2>
    <mat-form-field appearance="fill">
      <mat-label>Choose an interval</mat-label>
      <mat-select> <!-- [disabled]="disableSelect.value" for disabled (the one already chosen)-->
        <mat-option value="10">10 minutes</mat-option>
        <mat-option value="20">20 minutes</mat-option>
        <mat-option value="30">30 minutes</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a voice</mat-label>
      <mat-select> <!-- [disabled]="disableSelect.value" for disabled (the one already chosen)-->
        <mat-option value="female">Female</mat-option>
        <mat-option value="ashcon-1">Ashcon 1</mat-option>
        <mat-option value="ashcon-2">Ashcon 2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle>On/Off</mat-slide-toggle>
    <mat-slide-toggle>Avg. speed</mat-slide-toggle>
    <mat-slide-toggle>How many km</mat-slide-toggle>
    <mat-slide-toggle>Time ridden</mat-slide-toggle>
    <mat-slide-toggle>Message notifications</mat-slide-toggle>
  </div>

  <div class="notifications">
    <h2>Notifications</h2>
    <mat-slide-toggle>On/Off</mat-slide-toggle>
  </div>

  <div class="profile-settings">
    <h2>Profile</h2>
    <button mat-raised-button>Change password</button>
    <button mat-raised-button>Change e-mail</button>
    <button mat-raised-button>Change username</button>
    <mat-slide-toggle>Use kilometres vs. miles</mat-slide-toggle>
    <button mat-raised-button (click)="login()">Log out</button>
  </div>

  <li *ngIf="this.boardService.boards$ | async as board">
    <p>{{board[0].nickname}}</p>
    <p>{{board[0].boardBrand}}</p>
  </li>

<!--  Notifikationer?-->
<!--  Profilindstillinger:-->
<!--  Ændr password-->
<!--  Ændr e-mail-->
<!--  Andet:-->
<!--  Skift km / miles-->
<!--  Log ud-->

</div>
