@use '@angular/material' as mat;
@import '~sanitize.css/sanitize.css';
@import "./theme";
@include mat.core(
    mat.define-typography-config(
      $font-family: 'Comic Sans MS' /* Ok, perhaps not */
    )
);
@include mat.all-component-themes($esk8-theme);

html, body { height: 100%; }
body { margin: 0 }

/* SCSS HEX */
$xiketic: #130203ff;
$dark-purple: #261f33ff;
$peach-crayola: #fec89aff;
$peach-puff: #ffd7baff;
$champagne-pink: #ffe5d9ff;
$linen: #ece4dbff;
$alabaster: #d8e2dcff;
$platinum: #e8e8e4ff;
$isabelline: #f8edebff;

/* SCSS RGB */
$xiketic: rgba(19, 2, 3, 1);
$dark-purple: rgba(38, 31, 51, 1);
$peach-crayola: rgba(254, 200, 154, 1);
$peach-puff: rgba(255, 215, 186, 1);
$champagne-pink: rgba(255, 229, 217, 1);
$linen: rgba(236, 228, 219, 1);
$alabaster: rgba(216, 226, 220, 1);
$platinum: rgba(232, 232, 228, 1);
$isabelline: rgba(248, 237, 235, 1);

$content-height: 86vh;
$temp-margin-and-padding: 5px;
