services:
  postgis:
    # Main database for the project
    image: postgis/postgis:11-2.5-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test
      POSTGRES_DB: esk8_db
  postgres:
    # For the Keycloak authentication objects (Users, groups and so on)
    image: postgres:14.1-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: keycloak
      POSTGRES_DB: keycloak
  keycloak:
    image: jboss/keycloak:16.1.0
    environment:
      KEYCLOAK_USER: test
      KEYCLOAK_PASSWORD: test
      DB_VENDOR: POSTGRES
      DB_ADDR: postgres
      DB_DATABASE: keycloak
      DB_USER: postgres
      DB_SCHEMA: public
      DB_PASSWORD: keycloak
    ports:
      - 8082:8080
  geoserver:
    #build:
    #  context: .
    #  dockerfile: gs-dockerfile
    image: moogiewara/gs-esk8:1.0.2
    ports:
      - 8081:8081
    environment:
      JAVA_OPTS: "-Xmx5g -Dorg.apache.tomcat.util.digester.REPLACE_SYSTEM_PROPERTIES=true -DproxyName=localhost -DproxyPort=8081 -DpostgisUrl=jdbc:postgresql://postgis/esk8_db -DpostgisUser=postgres -DpostgisPass=test"
    volumes:
      - ./image-configuration/esk8:/usr/local/tomcat/webapps/geoserver/data/workspaces/esk8
  web:
    image: nginx
    ports:
      - 443:443
    environment:
      - NGINX_HOST=host.docker.internal:0
      - NGINX_PORT=443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/certs
  app:
    image: moogiewara/esk8:1.0.12
    build: ./
    ports:
      - 8080:8080
#    environment:
#      - KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8082/auth/
#      - POSTGRES_URL=jdbc:postgresql://postgis:5432/esk8_db
