<div class="container">
  <button mat-raised-button (click)="back()">Back</button>
  <button mat-raised-button (click)="toSettings()">Settings</button>
  <div class="user-info">
    <button mat-raised-button>Change info</button>
    <h2>Info about the user here.</h2>
    <h3>Info about the user here.</h3>
    <p>Info about the user here.</p>
  </div>
  <div class="boards">
    <h2>Board overview and info.</h2>
    <h3>Board overview and info.</h3>
    <p>Board overview and info.</p>
    <button mat-raised-button>Add board</button>
    <button mat-raised-button>Edit board</button>
  </div>
</div>
