.container {
  display: flex;
  flex-direction: column;

  .header, .content, .nav-bar {
    display: flex;
  }

  .header {
    height: 7vh;
    //width: 100vw;
    background-color: aquamarine;
  }

  .content {
    height: 86vh;
  }

  .nav-bar {
    height: 7vh;
    bottom: 0;
    background-color: antiquewhite;
  }

}
