@import "src/styles.scss";

.container {
  display: flex;
  flex-direction: column;

  .header, .content, .nav-bar {
    //display: flex;
  }

  .header {
    height: 7vh;
    //width: 100vw;
    background-color: #ffb27f;
    padding: 5px; // todo
  }

  .content {
    //height: $content-height;
  }

  .nav-bar {
    height: 7vh;
    bottom: 0;
    background-color: #ffb27f;
    padding: 5px; // todo
  }

}
